<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/x-icon" href="static/neptunus.png">

    <title>Income Prediction Web Page</title>
    <script type="text/javascript" src="{{url_for('static', filename='app.js')}}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/"><span><img src="static/neptunus.png" width="25" height="25"></span> &nbsp;Neptunus</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/"><span class="glyphicon glyphicon-home"></span> &nbsp;Home</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
      <li class="active"><a href="/about"><span class="glyphicon glyphicon-user"></span> &nbsp;About</a></li>
    </ul>
      </div>
    </nav>

    <div class="container">
        <br><br>
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    About
                    <small>Neptunus</small>
                </h1>
                <ol class="breadcrumb">
                    <li>
                       <a href="index.html">Home</a>
                    </li>
                    <li class="active">About</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <img src="static/neptunus.png" class="img-thumbnail">
            </div>
            <div class="col-md-9">
                <br /><br />
                <h2 align="center">Welcome to The Hottest Income Prediction Web!</h2><br />
                <p align="justify"><font size="4">Neptunus is a team that consists of 5 people. Our team makes a web for predicting your income using SciKit Learning Library. Hope our prediction can predict your income correctly based on ID3 model.</font></p>
            </div>
        </div>
        <!-- Team Member Profiles -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Team</h2>
            </div>
            <div class="col-lg-4">
                <center><img src="static/dika.jpg" width="300" height="400" class="img-circle"></center>
                <h3 align="center">
                    Andika Kusuma<br>
                    <small>13515033</small>
                </h3>
            </div>
            <div class="col-lg-4">
                <center><img src="static/kesu.JPG" width="300" height="400" class="img-circle"></center>
                <h3 align="center">
                    Kezia Suhendra<br>
                    <small>13515063</small>
                </h3>
            </div>
            <div class="col-lg-4">
                <center><img src="static/clement.jpg" width="300" height="400" class="img-circle"></center>
                <h3 align="center">
                    Christopher Clement Andreas
                    <small>13515105</small>
                </h3>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-lg-4">
                <center><img src="static/holy.jpg" width="300" height="400" class="img-circle"></center>
                <h3 align="center">
                    Holy Lovenia<br>
                    <small>13515113</small>
                </h3>
            </div>
            <div class="col-lg-4">
                <center><img src="static/rachel.jpg" width="300" height="400" class="img-circle"></center>
                <h3 align="center">
                    Rachel Sidney Devianti<br>
                    <small>13515124</small>
                </h3>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>

    <div class="container">

        <hr>

        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Neptunus 2017</p>
                </div>
            </div>
        </footer>

    </div>
</body>
</html>